Node-red sample
[{"id":"eca7abd0.1ddce8","type":"websocket-listener","path":"/ws/brightness","wholemsg":"false"},{"id":"3e77d543.c1882a","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"784b87a00ebf","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":135,"y":126,"z":"a3871cb3.dfb32","wires":[["bb4a6368.b08cc8","46452f52.08b5e8","e3f7d824.d8fc48"]]},{"id":"46452f52.08b5e8","type":"debug","name":"光センサー値","active":true,"console":"false","complete":"payload","x":348,"y":275,"z":"a3871cb3.dfb32","wires":[]},{"id":"8a13b929.723178","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"msg.deviceId","deviceType":"myedison","eventCommandType":"cid","format":"json","data":"msg.payload","name":"IBM IoT App Out","service":"registered","x":626,"y":206,"z":"a3871cb3.dfb32","wires":[]},{"id":"bb4a6368.b08cc8","type":"function","name":"明るさ判断","func":"if (msg.payload.d.brightness < 100) {\n    msg.payload='{\"LED\": \"on\"}';\n}else{\n    msg.payload='{\"LED\": \"off\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":206,"z":"a3871cb3.dfb32","wires":[["8a13b929.723178","c40530ef.a56a7"]]},{"id":"44dfcd1c.2b8d74","type":"http response","name":"","x":659,"y":67,"z":"a3871cb3.dfb32","wires":[]},{"id":"1eee3f0a.ecd0d9","type":"template","name":"HTML","field":"payload","format":"html","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Edison Sensor Value Visualization</title>\n\n    <script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>\n    <script type=\"text/javascript\">\n      var wsUrl = 'ws://edison-fujita.mybluemix.net/ws/brightness';\n      var socket;\n      var alphaData;\n      var alphaOptions;\n      var alphaChart;\n      // Google Gauge\n      google.load(\"visualization\", \"1\", {packages:[\"corechart\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n        // Data for temperature chart\n        alphaData = google.visualization.arrayToDataTable([\n          ['Label', 'Brightness'],\n          ['', 300]\n        ]);\n        // Option for temperature chart\n        // If you want to set other options, please refer to https://developers.google.com/chart/interactive/docs/gallery/gauge\n        var options = {\n          title: 'Brightness from light sensor connected to Intel Edison',\n          curveType: 'function',\n          legend: { position: 'bottom' }\n        };\n        alphaChart = new google.visualization.LineChart(document.getElementById('alphaChart'));\n        alphaChart.draw(alphaData, alphaOptions);\n      };\n\n      function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n          var sensorData = JSON.parse(e.data);\n          console.log(sensorData);\n\n          // Update alpha data\n\n          alphaData.addRow(['', Number(sensorData.d.brightness)]);\n          // betaData.setValue(0, 1, sensorData.beta);\n          // gammaData.setValue(0, 1, sensorData.gamma);\n\n          alphaChart.draw(alphaData, alphaOptions);\n          // betaChart.draw(betaData, gammaOptions);\n        };\n      };\n\n      function disconnect() {\n        socket.close();\n      };\n\n    </script>\n  </head>\n  <body>\n    <h1>Intel Edison Ligtht Sensor</h1>\n    <div>\n      <button onclick=\"connect()\">Connect</button>\n      <button onclick=\"disconnect()\">Disconnect</button>\n    </div>\n    <div>\n      <div id=\"alphaChart\" style=\"width: 900px; height: 500px;\"></div>\n    </div>\n  </body>\n</html>","x":515,"y":67,"z":"a3871cb3.dfb32","wires":[["44dfcd1c.2b8d74"]]},{"id":"1f4249c0.54aad6","type":"http in","name":"","url":"/brightness","method":"get","swaggerDoc":"","x":349,"y":65,"z":"a3871cb3.dfb32","wires":[["1eee3f0a.ecd0d9"]]},{"id":"e3f7d824.d8fc48","type":"websocket out","name":"","server":"eca7abd0.1ddce8","client":"","x":362,"y":127,"z":"a3871cb3.dfb32","wires":[]},{"id":"c40530ef.a56a7","type":"debug","name":"LED On/Off","active":true,"console":"false","complete":"payload","x":615,"y":275,"z":"a3871cb3.dfb32","wires":[]}]